:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: rgba(182, 182, 182, 0.95);
  --transition-speed: 600ms;
  --radius: 6.3px;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --opacity: 0.2;
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.fade-in {
	animation: fadeIn 2s;
  	opacity: 1;
}

#game-logo-div img{
  border-radius: 1rem;
  margin-top: 1rem;
}

/* For typing effect */
.index p {
  overflow: hidden; 
  color: white;
  border-right: .1em solid white;
  white-space: nowrap;
  margin: 1rem auto;
  letter-spacing: .15em;
  animation: 
    typing 3s steps(30, end),
    cursor .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}
 
/* The cursor effect */
@keyframes cursor {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.index button {
  cursor: pointer;
  font-size: 1rem;
  width: 50%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: var(--radius);
  border: none;
  background-color: #c0c0c0;
}

.index button:hover{
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.2s;
  border-radius: var(--radius);
  background-color: #00ff41;
}

.text-center {
  text-align: center;
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

/*avatar selection start ------------------------------------------------------------------------------------------------------*/
.avatar {
  display: flex;
  width: 100%;
}

.avatar-image{
  width: 80%;
  height: auto;
  border-radius: var(--radius);
}

.avatar button {
  width: 25%;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border: none;
  transform: var(--transition-speed);
}

.avatar button:hover {
  cursor: pointer;
  color: var(--text-primary);
  background-color: black;
}

.avatar-container {
  display: flex;
  width: 100%;
}

#avatar-view {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#avatar-img {
  width: 50%;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: var(--radius);
}

.avatar-desc-container {
  width: 50%;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
}

.avatar-name {
  text-transform: capitalize;
}

#avatar-desc {
  width: 90%;
  height: 95%;
}

.avatar-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar-button-container button {
  width: 25%;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border: none;
  border-radius: var(--radius);
}

.avatar-button-container button:hover {
  cursor: pointer;
  color: var(--text-primary);
  background-color: black;
}

/*avatar selection end ------------------------------------------------------------------------------------------------------*/

/* gameplay page start ------------------------------------------------------------------------------------------------------*/

.game-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
.game-title {
  background-color: #b6b6b6;
  border-radius: var(--radius);
  padding: 1rem 2rem;
  margin: 0.5rem;
}
*/

.game-title {
  color: white;
}

.col-1 {
  width: 55%;
  background-color: var(--bg-primary);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-info {
  width: 90%;
  height: 95%;
}

#scene-div img {
  width: 100%;
  border-radius: var(--radius);
}

.col-2 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-2 h3 {
  padding: 1rem;
  margin: 0;
  background-color: var(--bg-primary);
  border-radius: var(--radius);
}

.col-2-1 {
  height: 60vh;
  background-color: var(--bg-primary);
  border-radius: var(--radius);
  overflow: auto;
}

.col-2-1 p {
  padding: 0 1rem;
}

.col-2-2 {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;

}

.col-2-2 input {
  width: 100%;
  padding: 2rem 1rem;
  border-radius: var(--radius);
}

#command-history {
  scroll-behavior: smooth;
}

.modal {
  width: 80%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: var(--radius);
  z-index: 10;
  background-color: white;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 0.5rem 1rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* gameplay page end ------------------------------------------------------------------------------------------------------*/

/* End Scene Start------------------------------------------------------*/
.end-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#end-title {
  color: #00ff41;
}

.end-col-1 {
  width: 100%;
  background-color: black;
  margin: 1rem;
}

.end-col-2 {
  width: 100%;
  background-color: var(--text-primary);
  margin: 1rem;
}

.end-btn {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
}

.red-border {
  border: solid red 1px;
}
/* End Scene End------------------------------------------------------*/

/* Credits Start------------------------------------------------------*/
.credit-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.credit-card-wave {
  width: 10%;
  padding: 2rem 0;
  text-align: center;
  border-radius: var(--radius);
  background-color: rgba(0, 0, 255, 0.4);
}

.credit-card-desc {
  width: 85%;
  padding: 2rem 0;
  padding-left: 1rem;
  border-radius: var(--radius);
  background-color: var(--text-primary);
}

.credit-end {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.credit-button {
  padding: 1rem 2rem;
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  background-color: var(--text-primary);
}

/* Credits End------------------------------------------------------*/

@media only screen and (max-width: 1000px) {
}
