:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: rgba(182, 182, 182, 0.95);
  --transition-speed: 600ms;
  --radius: 6.3px;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --opacity: 0.2;
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.fade-in {
  animation: fadeIn 2s;
  opacity: 1;
}

#game-logo-div img {
  border-radius: 1rem;
  margin-top: 1rem;
}

/* For typing effect */
.index p {
  overflow: hidden;
  color: #00ff41;
  background-color: black;
  padding: 1rem;
  border-right: 0.1em solid white;
  white-space: nowrap;
  margin: 1rem auto;
  letter-spacing: 0.15em;
  animation: typing 3s steps(30, end), cursor 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}

/* The cursor effect */
@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

#feedback-button {
  text-decoration: none;
  color: black;
  padding: 0.5rem 30%;
}

.index button {
  cursor: pointer;
  font-size: 1rem;
  width: 50%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: var(--radius);
  border: none;
  background-color: #c0c0c0;
}

.index button:hover {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.2s;
  border-radius: var(--radius);
  background-color: #00ff41;
}

.text-center {
  text-align: center;
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

.volume-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 48%;
}

/*help start ------------------------------------------------------------------------------------------------------*/

.help-div {
  padding: 1rem;
  background-color: white;
  margin: 1rem;
  border-radius: var(--radius);
  text-align: center;
}

.help-div h1 {
  text-align: center;
  margin-top: 0;
}

.help-div img {
  width: 60%;
  height: auto;
  border-radius: var(--radius);
}

.help-div div {
  margin: 1rem;
}

.help-div div button {
  cursor: pointer;
  font-size: 1rem;
  width: 50%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: var(--radius);
  border: none;
  background-color: #c0c0c0;
}

.help-div div button:hover {
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.1s;
  border-radius: var(--radius);
  background-color: #00ff41;
}

/*help end ------------------------------------------------------------------------------------------------------*/

/*avatar selection start ------------------------------------------------------------------------------------------------------*/
.avatar {
  display: flex;
  width: 100%;
}

.avatar-image {
  width: 80%;
  height: auto;
  border-radius: var(--radius);
}

.avatar button {
  width: 25%;
  margin: 0.5rem 0.25rem;
  padding: 0.5rem 0;
  border: none;
  transform: var(--transition-speed);
}

.avatar button:hover {
  cursor: pointer;
  background-color: #00ff41;
  font-weight: bold;
}

.avatar-selected {
  background-color: #00ff41;
  font-weight: bold;
}

.avatar-container {
  display: flex;
  width: 100%;
}

#avatar-view {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#avatar-img {
  width: 50%;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--radius);
}

#avatar-img img {
  width: 100%;
}

.avatar-desc-container {
  width: 50%;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background-color: gray;
}

.avatar-name {
  text-transform: capitalize;
}

#avatar-desc {
  width: 90%;
  height: 95%;
  overflow: overlay;
}

.avatar-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar-button-container button {
  width: 25%;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border: none;
  border-radius: var(--radius);
}

.avatar-button-container button:hover {
  cursor: pointer;
  background-color: #00ff41;
  font-weight: bold;
}

#avatarNm {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  width: 100%;
}

/*avatar selection end ------------------------------------------------------------------------------------------------------*/

/* gameplay page start ------------------------------------------------------------------------------------------------------*/

.game-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
.game-title {
  background-color: #b6b6b6;
  border-radius: var(--radius);
  padding: 1rem 2rem;
  margin: 0.5rem;
}
*/

.game-title {
  color: white;
}

.icon {
  background: url("images/biologist-icon.png");
  height: 20px;
  width: 20px;
  display: block;
  /* Other styles here */
}

.col-1 {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-info {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-primary);
  border-radius: var(--radius);
}

#scenario-img {
  border-radius: var(--radius);
  width: 80%;
}

.game-stats-container {
  width: 100%;
  height: 20vh;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border: 1px solid white;
  border-radius: var(--radius);
}

.game-stats-header {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  background-color: white;
}

.scene-div img {
  width: auto;
  height: 45vh;
  border-radius: var(--radius);
}

.grid-container {
  width: 90%;
  margin: 1rem 0;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.col-2 {
  width: 53%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*.col-2 h3 {
  padding: 1rem;
  margin: 0;
  background-color: var(--bg-primary);
  border-radius: var(--radius);
}*/

.col-2-1 {
  height: 60vh;
  background-color: var(--bg-primary);
  border-radius: var(--radius);
  overflow: auto;
}

.col-2-1 p {
  padding: 0 1rem;
}

.col-2-2 {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
}

.col-2-2 input {
  width: 100%;
  padding: 2rem 1rem;
  border-radius: var(--radius);
}

#command-history {
  margin: 0.5rem 0;
  scroll-behavior: smooth;
}

#command-title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
  background-color: var(--bg-primary);
  border-radius: var(--radius);
}

#avatar-icon {
  border-radius: 50%;
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay:active {
  opacity: 1;
  pointer-events: all;
}

#submit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#submit-button {
  border-radius: var(--radius);
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border: none;
  cursor: pointer;
}

#submit-button:hover {
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.2s;
  border-radius: var(--radius);
  background-color: black;
  color: #00ff41;
}

/* gameplay page end ------------------------------------------------------------------------------------------------------*/

/* End Scene Start------------------------------------------------------*/
.end-game-container {
  margin: 10px;
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.end-game-container > div {
  width: 70%;
  margin: 0 auto;
}

.end-game-container > div > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
}

#end-card {
  background-image: url(https://i.imgflip.com/shswj.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-color: black;
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 4rem 2rem;
  height: 250px;
}

#end-title,
#end-subtitle {
  color: #00ff41;
}

#end-title {
  text-transform: uppercase;
}

#end-subtitle {
  text-transform: capitalize;
}

#end-didyouknow {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-image: url(images/vostok-landing.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 1rem;
}

#end-didyouknow>div{
  padding: 1rem;
  height: 500px;
}

#end-didyouknow h1, #end-didyouknow p{
  background-color: rgba(255, 255, 255, 0.5);
}

.end-btn {
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: var(--radius);
  position: relative;
  top: 50px;
}

.end-btn:hover{
  font-weight: bold;
  transition: 0.2s;
  border-radius: var(--radius);
  background-color: #00ff41;
}

.red-border {
  border: solid red 1px;
}
/* End Scene End------------------------------------------------------*/

/* Credits Start------------------------------------------------------*/
.credit-card-desc {
  width: 100%;
  padding: 1rem 0;
  margin: 0.5rem 0;
  display: flex;
  border-radius: var(--radius);
}

.t1 {
  background-color: #00ff41;
  animation-name: colors1;
  animation-duration: 2.4s;
}

.t2 {
  background-color: #7ee8fa;
  animation-name: colors2;
  animation-duration: 3s;
}

.t3 {
  background-color: #fff44f;
  animation-name: colors3;
  animation-duration: 3.6s;
}

@keyframes colors1 {
  0% {
    background-color: #fff44f;
    transform: translateX(-100%);
  }
  50% {
    background-color: #fff44f;
  }
  75% {
    background-color: #7ee8fa;
  }
  100% {
    background-color: #00ff41;
  }
}

@keyframes colors2 {
  0% {
    background-color: #00ff41;
    transform: translateX(-100%);
  }
  50% {
    background-color: #fff44f;
  }
  75% {
    background-color: #fff44f;
  }
  100% {
    background-color: #7ee8fa;
  }
}

@keyframes colors3 {
  0% {
    background-color: #7ee8fa;
    transform: translateX(-100%);
  }
  50% {
    background-color: #00ff41;
  }
  75% {
    background-color: #fff44f;
  }
  100% {
    background-color: #fff44f;
  }
}

@keyframes position {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}

.credit-card-desc p {
  color: black;
  padding: 1rem 0;
  margin: auto;
  text-align: center;
}

.credit-end {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.credit-button {
  width: 25%;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border: none;
  transform: var(--transition-speed);
  border-radius: var(--radius);
}

.credit-button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #00ff41;
  border-radius: var(--radius);
}

/* Credits End------------------------------------------------------*/

/*Gameover Start---------------------------------------------------*/
#gameover-img {
  width: 70%;
  height: auto;
  border-radius: var(--radius);
}

#gameover-main {
  background-color: black;
}

#gameover-title,
#gameover-subtitle {
  color: #00ff41;
}

#gameover-title {
  text-transform: uppercase;
}

.gameover-col-1 {
  width: 100%;
  background-color: black;
  margin: 1rem;
}

.gameover-col-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameover-btn {
  font-size: 1.2rem;
  border-radius: var(--radius);
  border: none;
  width: 40rem;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
  cursor: pointer;
}

.gameover-btn:hover {
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.2s;
  border-radius: var(--radius);
  background-color: #00ff41;
  color: black;
}

/*Gameover End-----------------------------------------------------*/

/*Completion Start----------------------------------------------------*/
#completion-main {
  background-color: black;
  background-image: url("images/39625.jpg");
  background-size: cover;
}

#completion-card {
  vertical-align: middle;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  background-color: black;
  border-radius: var(--radius);
}

#completion-img {
  width: 30rem;
  height: 27rem;
  border-radius: var(--radius);
  border-radius: 60%;
  margin-top: 1rem;
}

#completion-title {
  color: #00ff41;
  text-transform: uppercase;
}

.completion-col-1 {
  background-color: black;
  margin: 1rem;
}

.completion-col-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completion-btn {
  font-size: 1.2rem;
  border-radius: var(--radius);
  border: none;
  width: 35rem;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
}

.completion-btn:hover {
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.2s;
  border-radius: var(--radius);
  background-color: #00ff41;
  color: black;
}
/*Completion End-------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00ff41;
}